/* General styles */
body {
  font-family: sans-serif;
}

/* Game grid */
.gameGrid {
  height: 400px;
  width: 400px;
}

.gameGridRow {
  height: 30%;
  width: 100%;
}

.gameGridColumn {
  height: 100%;
  width: 30%;
  float: left;
  padding: 6px;
}

.gameGridButton {
  height: 100%;
  width: 100%;
}

/* Game options */
.gameOptionsList {
  list-style: none;
}

.gameOptionsPlayerList {
  list-style: none;
}
